body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 47, 48);
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: rgb(99, 100, 100);
    padding: 10px;
    color: azure;
}

p {
    font-size: 18px;
}

.container {
    background-color: rgb(2, 8, 92);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.controls,
.buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    width: 20vw;
}

.pad {
    
}

.footer {
    text-align: center;
    background-color: rgb(75, 77, 77);
    margin: 0;
    padding: 15px;
}