body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 47, 48);
    margin: 0;
    padding: 0;
}

.header {
    height: 15vh;
    text-align: center;
    background-color: rgb(99, 100, 100);
    padding: 10px;
    color: azure;
}

p {
    font-size: 18px;
}

.container {
    background-color: rgb(2, 8, 92);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.controls,
.buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 20vw;
}

button {
    background-color: rgb(78, 76, 76);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: blueviolet;
}

#pad {
    height: 500px;
    width: 500px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: 30px;
}

.footer {
    text-align: center;
    background-color: rgb(75, 77, 77);
    margin: 0;
    padding: 15px;
    height: 10vh;
}